{% extends "base.html" %}

{% block content %}

<h2>Outcome-Based Education (OBE) CO-PO Attainment System</h2>

<hr><br>

<p style="font-size:18px;">

A simple application to manage Course Outcomes (CO),
Program Outcomes (PO),
CO-PO Mapping,
Marks Upload,
Attainment Calculation,
and Report Generation.

</p>

<br>

<h2>Available Modules</h2>

<hr><br>

<table style="width:100%;font-size:18px;line-height:2;">

<tr>

<td>📚 Masters</td>

<td>🎯 Course Outcomes (CO)</td>

</tr>

<tr>

<td>🎓 Program Outcomes (PO)</td>

<td>🔗 CO-PO Mapping</td>

</tr>

<tr>

<td>📝 Marks Upload</td>

<td>📊 CO & PO Attainment</td>

</tr>

<tr>

<td>📄 Excel Reports</td>

<td>🖨 PDF Reports</td>

</tr>

</table>

<br><br>

<hr>

<p style="text-align:center;color:gray;">

Developed for Outcome Based Education (OBE)

</p>

{% endblock %}